/* container */
.responsive-two-column-grid {
    display:block;
}

/* columns */
.responsive-two-column-grid > * {
    padding:1rem;
}

/* tablet breakpoint */
@media (min-width:768px) {
    .responsive-two-column-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}

.responsive-two-column-grid img {
    max-width: 250px;
    border-radius: 70%;
    min-width: 250px;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #FFFFFF;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


hr {
    border: 0;
    height: 1px;
    background: #333;
    margin: 20px 0;
}


header {
    padding: 20px;
    text-align: center;
}
